<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title></title>
		<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'/>
		<meta name='author' content=''>
		<meta name="description" content="">
		<meta name='keywords' content='' />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

		<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css'>
		<link rel='stylesheet' href='/css/main.css'>
	</head>

	<body>
		<nav>
			<header>
				<p><a href='/'>GWAK<span class='header--suffix'>.SEXY</span></a></p>
			</header>

			<div class='blurb'>
				<ul>
					<li>The most attractive member of <a href='http://the-bwc.com'>BWC</a></li>
					<li>Not wearing pants</li>
					<li>Leader of <a href='http://widowmakers.exposed'>TF Widowmaker</a><li>
					<li>Playing as <a href='http://stats.dasanfall.com/ps2/player/gwak'>gwak</a>, <a href='http://stats.dasanfall.com/ps2/player/gwaknc'>gwaknc</a>, and <a href='http://stats.dasanfall.com/ps2/player/gwakee'>gwakee</a></li>
					<li>For the most part, pretty bad</li>
				</ul>
			</div>

			<ul class='navigation'>
				<li><a href='/archive'>Archive</a></li>
				<li><a href='/feed.xml'>Feed</a></li>
				<li><a href='/resources'>Resources</a></li>
				<li><a href='/hardware'>Hardware</a></li>
			</ul>

		</nav>

		<div class='content'>
			{{ content }}		
		</div>

		<footer>
			<img src='http://media.giphy.com/media/4XodyqzlYFby0/giphy.gif' />
		</footer>

		<script src="//use.typekit.net/wnl7owf.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>

	</body>
</html>
